.tr1{
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
}
.tr2{
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
}
.tr3,.tableprofile, .tableadmin{
    border: 2px solid black;
    padding : 5px 30px;
}

.tr4{
    background-color: rgba(165, 165, 165, 0.7);
    border: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
}
.table3{
    border-collapse: collapse;
}
