.tr1{
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
}
.tr2{
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
}
.tr3,.tableprofile, .tableadmin{
    border: 2px solid black;
    padding : 5px 30px;
}

.tr{
    text-align: center;
}
.th{
    text-align: left;
}

.tr4{
    background-color: rgba(165, 165, 165, 0.7);
    border: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
}
.table3{
    border-collapse: collapse;
}

.tableprofile1{
    padding:10px 30px;
}

.tableprofile{
    padding: 5px 15px;
}

.newpas{
    text-align: left;
}

.but{
    padding-left: 130px;
    padding-top: 10px;
}

.but1{
    padding-left: 120px;
    padding-top: 10px;
}
.but2{
    padding-left: 120px;
    padding-top: 10px;
}

.but3{
    padding-left: 160px;
    padding-top: 10px;
}

.but4{
    padding-left: 175px;
    padding-top: 10px;
}

.but5{
    padding-left: 195px;
    padding-top: 10px;
}

.error-message{
    color:red;
}